# Server
PORT=3000
NODE_ENV=development

# Postgres
DB_HOST=[azure.ip]
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=flight_db

# JWT
JWT_SECRET=secret

# AEROAPI

# OPENSKY

# Smoke tests (usually found in github secrets)
AEROAPI_SMOKE_TEST_KEY=key
OPENSKY_CLIENT_ID_SMOKE_TEST
OPENSKY_CLIENT_SECRET_SMOKE_TEST
