# Server
PORT=3000
NODE_ENV=development

# Postgres
DB_HOST=[azure.ip]
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=flight_db

# JWT
JWT_SECRET=secret
APP_BASE_URL=http://localhost:3000

# CSRF
CSRF_SECRET=change-me-to-a-long-random-secret

# SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=user
SMTP_PASSWORD=password
MAIL_FROM=no-reply@example.com

# AEROAPI
AEROAPI_KEY=aeroApi_key
ROUTES_DB_TTL_DAYS=7

# OPENSKY
OPENSKY_CLIENT_ID=opensky-api-client
OPENSKY_CLIENT_SECRET=change-me-to-a-secret


# Smoke tests (usually found in github secrets)
AEROAPI_SMOKE_TEST_KEY=key
OPENSKY_CLIENT_ID_SMOKE_TEST
OPENSKY_CLIENT_SECRET_SMOKE_TEST
